body {
    font-family: sans-serif;
}

header{
    background-color: black;
    width: 1050px;
    height: 100px;
}

h1 {
    text-shadow: 5px 5px 5px  darkgreen;
    color: green;
    font-size: 70px;
    margin-left: 390px;
}

h1:hover {
    text-shadow: 5px 5px 5px  goldenrod;
     color: goldenrod;
    transition: 0.5s linear;
}

.link-html {
     text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 35px;
    position: absolute;
font-family: monospace;
}

.link-nav {
     text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 35px;
    position: absolute;
font-family: monospace;
}

.link-html:hover {
    transition: 1s linear;
   background-color: darkorange;
   padding: 10px;
   margin-left: 700px;
   margin-top: 35px;
box-shadow: 3px 5px 0 0 navy;
font-family: monospace;
}

.link-nav:hover {
    transition: 1s linear;
   background-color: darkorange;
   padding: 10px;
   margin-left: 400px;
   margin-top: 35px;
box-shadow: 3px 5px 0 0 navy;
font-family: monospace;
}


.link-header:hover {
transition: 1s linear;
   background-color: darkorange;
   padding: 10px;
   margin-left: 150px;
   margin-top: 35px;
box-shadow: 3px 5px 0 0 navy;
font-family: monospace;
}

.link-header {
     text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 35px;
    position: absolute;
font-family: monospace;
}

img {
    margin-left: 130px;
}

.social {
   widht: 200px;
   height: 200px;
margin-left: 30px;
}

body {
    font-family: sans-serif;
}

header {
    background-color: black;
    width: 1050px;
    height: 100px;
}

.link-header {
     text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 35px;
    position: absolute;
font-family: monospace;
}

.link-header:hover {
    transition: 1s linear;
   background-color: darkorange;
   padding: 10px;
   margin-left: 60px;
   margin-top: 35px;
box-shadow: 3px 5px 0 0 navy;
font-family: monospace;
}

h1 {
margin-left: 200px;
}

body {
    font-family: sans-serif;
}

.link-header {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 35px;
    position: absolute;
font-family: monospace;
    
}

.link-header:hover {
    transition: 1s linear;
   background-color: darkorange;
   padding: 10px;
   margin-left: 100px;
   margin-top: 35px;
box-shadow: 3px 5px 0 0 navy;
font-family: monospace;
}

header {
    background-color: black;
    width: 1050px;
    height: 100px;
}

h1 {
margin-left: 290px;
}




